_This format is still relevant today because NSS uses it for pretty-printing and parsing DNs._

NSS is a bit of a hybrid, see https://bugzilla.mozilla.org/show_bug.cgi?id=1709676

o/ hello @cagney, can you please point to the content that needs correcting or clarification?

Ah, yea, here:

[RFC 1485](https://tools.ietf.org/html/rfc1485) is a predecessor of a predecessor (RFC 1779) of a predecessor (RFC 2253) of RFC 4514. There are some differences from RFC 4514. For example, special character escapes are not supported; quotes must be used. This format is still relevant today because NSS uses it for pretty-printing and parsing DNs.

The notes, namely tripping up on `#` should go in the notes section.

While I'm at it.  Can I suggest expanding [String representations](https://github.com/frasertweedale/blog-redhat/blob/master/posts/2019-05-28-a-dn-is-not-a-string.rst#string-representations) or a subsequent subsection, to explain how the `OpenSSL` vs `The Rest Of the World` also affects input.  For instance feeding NSS, an OpenSSL string, creates a cert with the subject DN's RDNs reversed.

It came up here [Different RDN ordering between Libreswan and NSS](https://github.com/libreswan/libreswan/issues/331) and here [testing x509: pass subject DN to NSS in local->global order](https://github.com/libreswan/libreswan/commit/32cbdbd7fd6baddf875756525b8b66ae086348a4)


